.update-form__error-message {
    margin-top: 8px;
    color: #ff0000;

    grid-column: 2;
}

.detail {
    margin: 32px auto 0;
    width: 30%;
}

.update-form__group {
    display: grid;
    max-width: 500px;
    display: flex;
    margin-top: 32px;

    flex-flow: column;

    grid-template-columns: 1fr 2fr;
    
}

.update-form__image-inputs {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
}

.update-form__input{
  padding: 20px;
    width: 600px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;

}
.update__img {
    width: 400px;
    float: left;
    margin: 0 0 20px 20px;
}

img {
    width: 100%;
}
