
.register-form__error-message {
  margin-top: 8px;
  color: #ff0000;

  grid-column: 2;
}
.register__inner {
  margin: 32px auto 0;
  width: 74%;
  font-size: 16px;
}

.register-form__group {
  display: grid;
  align-items: center;
  margin-top: 32px;
  display:flex;
  flex-flow: column;
  

  grid-template-columns: 1fr 2fr;
}
.contact-form__group:first-of-type{
  margin-top: 0;
}

.contact-form__group:last-of-type {
  align-items: flex-start;
}

    

.regoster-form__input{
  padding: 20px;
    width: 600px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;

}
.register-form__required{
  font-size: 12px;
  padding: 2px;
  margin-left: 5px;
  background-color: #ff0000;
  color: #fffdfd;
  text-align:left;
}
.update-form__season-input{
  border-radius: 50%
}

.contact-form__btn {
  width: 150px;
    height: 35px;
    background: #ec8c18;
    border-radius: 5px;
    border: none;
    margin-left: 90%;
}
